body{
    display: grid;
    grid-template-areas:
    "header header header"
    ". middle ."
    "footer footer footer";
    grid-template-rows: 1fr 12fr 1fr;
    grid-template-columns: 2.1fr 7.6fr 7.4fr;
}

/* JE COMMENCE LE HEADER */


.header{
    grid-area: header;
    padding-top: 5px;
    border-bottom: solid rgb(221, 221, 221);
    border-width: 0.1px;
}
#searchbar{
    display: flex;
    align-items: center
}

#loupe{
    position: absolute;
    left: 56%;
    height : 22px; 
    width : 22px;
    opacity: 0.4;
}

#mic{
    position: absolute;
    left: 53.5%;
    height : 27px; 
    width : 27px;
    opacity: 0.7;
}
.barre{
    position: absolute;
    left: 52.5%;
    height: 29px;
    width: 0.2px;
    border-left: solid rgb(221, 221, 221);
    border-width: 0.1px;
    background-color: rgb(63, 63, 63);
}
#cross{
    position: absolute;
    left: 50.5%;
    height : 13px; 
    width : 13px;
    opacity: 0.7;
}

#search:hover {
    box-shadow: 0px 0px 10px 0px #D6D6D6;
}

#search{
    border-radius: 24px;
    width: 642px;
    height: 45px;
    border-width: 0.1px;
    border-color: #f1f1f1;
    margin : 10px;
    border-style : solid;
    padding-left: 40px;
    box-shadow: 0px 0px 6px 0px #D6D6D6
}


#M {
    border-radius: 50%;
    background-color: rgb(6, 151, 127);
    color : white;
    width: 32px;
    height: 32px;
    font-family: sans-serif;
    font-weight: 80;
    font-size: 17px;
    display: inline-block;
    position: absolute;
    right: 25px;
    text-decoration: none;
}

#App{
    width: 32px;
    height: 32px;
    margin: 0px 5px 0 15px;
    opacity: 0.6;
    position: absolute;
    right: 65px;
}

#App:hover{
    box-shadow: 0px 0px 0px 4px #e4e4e4;
    border-radius: 50%;
    background-color: #e4e4e4;
}
#M:hover {
    text-decoration: none;
    box-shadow: 0px 0px 0px 4px #e4e4e4;
}

#google{
    height : 30px;
    width: 92px;
    margin : 30px
}

.L2{
    display: flex;
    justify-content: space-between;
    width: 662px;
    Margin: 10px 0 15px 180px;

}


.L2 a{
    font-family: arial;
    color: rgb(116, 115, 115);
    font-size: 14px;
    margin: 0 10px 0 0px;
}

.L2 a:hover{
    cursor: pointer;
}

.L2 a img{
    height: 18px;
    width: 18px;
    opacity: 0.7;
}

/* JE COMMENCE LE MILIEU*/

.middle a {
    color: #1A0DAB;
    font-size: 20px;
    font-family: arial;
    text-decoration: none;
}

.middle a:hover{
    text-decoration: underline;
}
.middle p {
    color: #696969;
    font-size: 14px;
    font-family: arial;
    text-decoration: none;
    padding: 5px 0 5px 0;
}

.middle{
    grid-area: middle;
    display: grid;
    grid-template-areas:
    "1"
    "2"
    "3"
    "4"
    "5"
    "6"
    "7"
    "8"
    "9"
    "10"
    "11"
    "12"
    "13"
    "14";
    grid-template-rows: 2fr repeat(13, 1fr);
}
.milieu{
    grid-area: 1;
    display: grid;
    grid-template-areas: 
    "t t t"
    ". . ."
    "g . d"
    "g . d";
    grid-template-columns: 3fr 1fr 3fr;
    grid-template-rows: 1fr 0.5fr 1fr 1fr;
}

.top{
    grid-area: t;
}
.g{
    grid-area: g;
    margin-left: 20px;
}

.d{
    grid-area: d;
}
.milieu1{
    grid-area: 2;
}
.milieu2{
    grid-area: 3;
}
.milieu3{
    grid-area: 4;
}
.milieu4{
    grid-area: 5;
}
.milieu5{
    grid-area: 6;
}
.milieu6{
    grid-area: 7;
}
.milieu7{
    grid-area: 8;
}
.milieu8{
    grid-area: 9;
}
.milieu9{
    grid-area: 10;
}
.milieu10{
    grid-area: 11;
}
.milieu11{
    grid-area: 12;
}
.milieu12{
    grid-area: 13;
}
.milieu13{
    grid-area: 14;
}


/* JE COMMENCE LE FOOTER */

.footer{
    grid-area: footer;
    background-color: #F2F2F2;
    color: #70757A;
    font-family: arial;
    font-size: 14px;
    display: grid;
    grid-template-areas: 
    "1 1"
    ". 2";
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 1fr 1fr;
}

.haut{
    grid-area: 1;
    border-bottom: 0.1px solid rgb(185, 185, 185);
}
.bas{
    grid-area: 2;
}